---
const name = "Oluegwu";
import Header from "../components/header.astro";
import MainLayout from "../components/layout.astro";
---

<Header />
<MainLayout>
  <div
    class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 mb-10"
  >
    <div class="shrink-0">
      <img class="h-12 w-12" src="images/letter.png" alt="ChitChat Logo" />
    </div>
    <div>
      <div class="text-xl font-medium text-black">ChitChat</div>
      <p class="text-slate-500 p-3">You have a new message!</p>
    </div>
  </div>
  <h2
    class="text-slate-100 text-center bg-slate-500 max-w-sm mx-auto rounded-lg"
  >
    Oca web Tech by {name}
  </h2>
</MainLayout>
