<a class="btn" href="/articles">Go Back</a>

<style>
  .btn {
    background-color: teal;
    border-radius: 10px;
    padding: 5px 15px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
  }
</style>
