---
interface Props {
  text?: string;
  bg?: string;
}
const { text = "Go Back", bg = "teal" } = Astro.props;
---

<a class="btn" href="/articles" style={{ backgroundColor: bg }}>{text}</a>

<style>
  .btn {
    border-radius: 10px;
    padding: 5px 15px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
  }
</style>
