<header>
  <div class="wrapper">
    <a href="/" class="logo"><h1 class="text-2xl">OcaWebTech</h1></a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: #333;
    color: #f0f0f0;
    padding: 30px 60px;
  }
  .wrapper {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    ul {
      display: flex;
      li a {
        margin-right: 10px;
        font-size: 1rem;
        &:hover {
          opacity: 0.6;
          transition: color 0.3s linear;
        }
      }
    }
  }
</style>
